@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';

.gradient-bg {
  background: linear-gradient(135deg, #2563eb 0%, #1d4ed8 100%);
}

.primary{
  background-color: #070528;
}

.text-primary{
  color: #070528;
}